@import "../../assets/styles/variables";


.countBooks {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.booksWrapper,
.skeletonWrapper > * {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
.skeletonWrapper {
  margin-top: 50px;
}

.buttonMore {
  width: 100%;
  margin: 20px auto;
}

