@import "../../assets/styles/variables.scss";
.header {
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to left, #888, #ccc);
}

.title {
  font-size: 2rem;
  color: white;
}
.inputWrapper {
  position: relative;
  max-width: 400px;
  width: 100%;
}
.input {
  outline: none;

  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px 40px 10px 10px;
  &:focus {
    background-color: #fbfbfb;
  }
}
.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  right: 10px;
}

.dropdowns {
  display: flex;
  justify-content: center;
  & > * + * {
    margin-left: 10px;
  }
}
.dropdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.dropdownTitle {
  color: white;
  font-size: 18px;
  margin-right: 3px;
  margin-bottom: 5px;
}
