@import "../../assets/styles/variables.scss";
.header {
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to left, #888, #ccc);
}

.title {
  font-size: 2rem;
  color: white;
}

.dropdowns {
  display: flex;
  justify-content: center;
  & > * + * {
    margin-left: 10px;
  }
}

